{% extends "layout.html" %}
{% block body %}
<div class="centered-wrapper">
  <div class="background">
    <h1>Contact</h1>
      <p>
        Want to get the latest updates on meeting times and locations? Join
        our <a target="_blank" href="https://groups.google.com/a/alaska.edu/forum/?hl=en#!forum/uaf-cybersecurity-club">
        Google group</a> to recieve club related e-mails. Another great way to
        stay in contact is to join our <a target="_blank" href="https://uafcsc.slack.com/">
        Slack channel</a>
      </p>
      <p>
        Having trouble joining the Google group or just have a question for us?
        Send us an e-mail at <a href="mailto:csc.uaf@alaska.edu">csc.uaf@alaska.edu</a>
      </p>
  </div>
<!-- End centered-wrapper -->
</div>
{% endblock %}
