{% extends "base.html" %}
{% block body %}
<div class="centered-wrapper">
  <h1>Home</h1>
  <p>
    Welcome to the University of Alaska Fairbanks Cyber Security Club!
    We'll be working on upgrading the website and will be adding more content soon.
  </p>
  <a class="twitter-timeline" href="https://twitter.com/UAFCSC" data-height="800" data-chrome="nofooter noborders">Tweets by UAFCSC</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- End centered-wrapper -->
</div>
{% endblock %}
